.app {
  text-align: center;
  display: flex;  /* Usa flexbox para alinhar os componentes lado a lado */
  height: 100vh; /* Define a altura total da janela */
}

.sidebar {
  width: 250px; /* Define a largura da sidebar */
  /* background-color: #f8f9fa; Cor de fundo para visualização */
  height: 100%; /* Garante que a sidebar ocupe toda a altura */
}

.mapcontainer {
  flex: 1; /* O mapa ocupará o espaço restante */
  height: 100%; /* Garante que o mapa ocupe toda a altura do contêiner */
}
